.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
h6 {
  color: #5863f8;
  margin-top: 88px;
  font-size: 14px;
  font-weight: bold;
}
h1 {
  font-size: 42px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}
button {
  width: 352px;
  height: 60px;
  color: #ffffff;
  background: #5863f8;
  border: none;
}
.flex-container {
  max-width: 1088px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}
input {
  width: 352px;
  height: 60px;
  border: 2px solid;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}
input::-webkit-input-placeholder {
  color: #cecece;
  font-size: 13px;
  padding-left: 20px;
}
input::-moz-placeholder {
  color: #cecece;
  font-size: 13px;
  padding-left: 20px;
}
input:-ms-input-placeholder {
  color: #cecece;
  font-size: 13px;
  padding-left: 20px;
}
input::-ms-input-placeholder {
  color: #cecece;
  font-size: 13px;
  padding-left: 20px;
}
input::placeholder {
  color: #cecece;
  font-size: 13px;
  padding-left: 20px;
}
.wraper-box {
  margin-left: 16px;
}

textarea {
  width: 720px;
  height: 288px;
  color: red;
  border: 2px solid;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}
.input-text {
  margin-bottom: 16px;
}
.button:hover {
  background-color: blue;
}
.fa-paper-plane {
  color: white;
}
/* პირველი სექციის მეორე ნაწილი*/
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5863f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fa-envelope,
.fa-phone-alt,
.fa-map-marker-alt {
  color: white;
}

h5 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.grey {
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 5px;
}
.child-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wraper-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.icon:hover {
  background-color: blue;
}
/* second section */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #121212;
  margin-top: 5px;
  height: 395px;
}
h2 {
  width: 562px;
  font-size: 42px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}
.img-wraper {
  max-width: 1261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wraper-h {
  margin-left: 70px;
}
/* footer */
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g {
  color: white;
}
.two-1,
.two-2,
.two-3 {
  width: 35px;
  height: 35px;
}
.two-1 {
  background-color: #3b5998;
}
.two-2 {
  background-color: #55acee;
}
.two-3 {
  background-color: #dc4e41;
}
.wraper-icon {
  width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wraper-paragrap {
  width: 260px;
}
h3 {
  font-size: 24px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.par {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 20px;
  margin-top: 25px;
}
.last-h6 {
  margin: 0px 0px 15px 0px;
}

.contact-h5 {
  font-size: 18px;
  color: white;
  margin: 0px 0px 30px 0px;
}
.cont {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}
.blue {
  color: #5863f8;
}
.biggest-wraper {
  width: 566px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-wraper-div {
  width: 1026px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
